<!-- ndrop -->


<!-- <A-NChips [selectedFile]="activeFile"></A-NChips> -->


<!-- <div class="main-panel"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
[infiniteScrollContainer]="selector"
[fromRoot]="true"
(scrolled)="onSroll()"
(scrolledUp)="onUpScroll()">
<N-NDrop 
  (didScroll)="onSroll($event)"
  [files]="dragFiles"
  [folders]="dragFolders"
  [activeFolder]="activeFolder"
  (drop)="onDrop($event)"
  (goToFolder)="goToFolder($event)"
  (goBack)="goBack($event)"
  (didClick)="didCLick($event)"
>
</N-NDrop> 

</div> -->

<N-NUpload></N-NUpload>




