@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@include mat-core();
$yego-app-primary: mat-palette($mat-indigo, 700, 300, 900);
$yego-app-accent:  mat-palette($mat-light-blue);
$yego-app-warn:    mat-palette($mat-deep-orange, A200);
$yego-app-theme: mat-light-theme($yego-app-primary, $yego-app-accent, $yego-app-warn);
@include angular-material-theme($yego-app-theme);

// @import '~bootstrap/scss/bootstrap';
html {
  overflow: hidden;
}
body{
  overflow: hidden;
  //background:#F2F2F2!important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.87);
  size: 14px;

}
body::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}
input,
a,
button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover{

  outline:none !important;
  border-color: dodgerblue;
}
.black-snack{
  background: #2f3640;
}
.red-snack{
  background: #CF000F;
}
.app-loading {
  margin-top: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.app-loading .spinner {
  height: 200px;
  width: 200px;
  animation: rotate 2s linear infinite;
  transform-origin: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}


.mat-dialog-container {
  display: flex !important;
  flex-direction: column;
  max-width: none;
}

.custom-dialog-container .mat-dialog-container{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
  object-fit: cover;
}
img{
  user-select: none;
  vertical-align: middle;


}
